body {
    background-color: rgb(33, 33, 33);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
nav {
    top: 0;
    left: 2%;
    position: fixed;
}
nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    width: inherit;
    height: 175px;
}
nav ul li {
    padding-bottom: 8px;
}
nav ul li a {
    display: block;
    border-right: 2px dotted white;
    color: white;
    font-size: 1.35em;
    margin: 5px;
    padding: 8px 5px;
    padding-right: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
}
nav ul li a:visited,
a:link {
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    transform: scale(1.07);
    background-color: rgba(62, 62, 62, 0.8);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
h1 {
    text-align: center;
    color: white;
}
hr.star {
    padding: 0;
    border: none;
    border-top: solid 3px;
    text-align: center;
    max-width: inherit;
    margin: 25px auto 30px;
    border-color: white;
}
hr.star:after {
    content: "\f121";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 3em;
    padding: 0 0.25em;
    background-color: rgb(33, 33, 33);
    color: white;
}
figure {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
    max-width: 458px;
    margin-bottom: 80px;
}
figure img {
    width: 100%;
    height: auto;
}
figcaption {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}
strong {
    color: black;
}
form {
    max-width: inherit;
    text-align: center;
    margin: 20px auto;
    height: 50%;
}
input,
textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: sans-serif;
    resize: none;
}
textarea {
    height: 300px;
}
footer {
    position: absolute;
    bottom: 10px;
}
.block {
    min-height: 100vh;
}
.chat {
    background-color: rgba(40, 157, 253, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 30px 50px 0px 30px;
    padding: 10px;
    color: white;
}
.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}
.right {
    width: 50%;
}
.left {
    margin-right: 2%;
}
#menubutton {
    display: none;
    color: white;
    position: absolute;
    left: 20px;
    top: 24px;
    opacity: 0.7;
    z-index: 99;
}
#menubutton:hover {
    opacity: 1;
}
#exitmenubutton {
        display: none;
    color: white;
    position: absolute;
    left: 20px;
    top: 24px;
    opacity: 0.7;
    z-index: 99;
}
#exitmenubutton:hover {
    opacity: 1;
}
#mobilebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: white;
    overflow-x: visible;
    display: none;
}
#leftsect {
    background-color: rgb(23, 23, 23);
    height: 100vh;
    left: 0;
    top: 0;
    width: inherit;
    position: fixed;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.9);
}
#about img {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
}
#alterphoto {
    display: none;
}
#persinfo {
    margin-top: 20px;
}
#education {
    margin-top: 30px;
}
#myskills {
    margin-top: 30px;
}
#profexp {
    margin-top: 30px;
    margin-bottom: 30px;
}
#input-submit {
    color: white;
    background: rgba(40, 157, 253, 0.95);
    cursor: pointer;
}
#soclinks ul {
    list-style-type: none;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    padding: 5px;
}
#soclinks ul li a {
    transition-duration: 0.5s;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}
#soclinks ul li a:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}
#soclinks {
    position: fixed;
    bottom: 15%;
    left: 0px;
    text-decoration: none;
}
#socface {
    display: block;
    width: 43px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #3B5998;
    border-radius: 10px;
    color: white;
}
#soclinkedin {
    display: block;
    width: 43px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #007BB6;
    border-radius: 10px;
    color: white;
}
#socvk {
    display: block;
    width: 43px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #587EA3;
    border-radius: 10px;
    color: white;
}
#socgit {
    display: block;
    width: 43px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #444444;
    border-radius: 10px;
    color: white;
}
@media (max-width: 1030px) {
    #navcol {
        display: none;
    }
    #menubutton {
        display: inline-block;
    }
    #rightcolumn {
        width: 100%;
        left: 0px;
        
    }
    #mobilebar {
        display: block;
    }
}
@media (max-width: 991px) {
    figure {
        max-width: 800px;
    }
    #rightcolumn {
        width: 100%;
    }
    #imgcolumn {
        display: none;
    }
    #chatcolumn {
        width: 100%;
    }
    #alterphoto {
        display: block;
        position: inherit;
        left: 25%;
    }
}
@media (max-width: 480px) {
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
    footer {
        position: inherit;
        bottom: 20px;
    }
}
@media (max-width: 380px) {
    #alterphoto {
        left: 25%;
    }
    #about img {
        max-width: 150px;
        max-height: 150px;
    }
}
@media (max-width: 280px) {
    #menubutton {
        transform: scale(0.5);
    }
}