body {
  background-image: url(/media/img/Background.jpg);
  background-color: Teal;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  margin: 0px;
  padding: 0px;
}

nav {
  top: 0;
  left: 5%;
  position: fixed;
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  width: 150px;
  height: 175px;
}

nav ul li {
  padding-bottom: 8px;
}

nav ul li a {
  display: block;
  border-right: 2px dotted white;
  color: white;
  font-size: 1.35em;
  margin: 5px;
  padding: 8px 5px;
  text-decoration: none;
  _border-radius: 10%;
  transition-duration: 0.5s;
}

nav ul li a:visited, a:link {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  transform: scale(1.07);
  background-color: rgba(28, 32, 39, 0.5);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

h1 {
  text-align: center;
  border-bottom: 7px double white;
}

figure {
  margin: 20px 5px 5px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.35);
  float: left;
  width: 250px;
}

figure:last-child {
  margin-bottom: 30px;
}

figure img {
  width: 100%;
  height: auto;
}

figcaption {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.block {
  min-height: 100vh;
  overflow: hidden;
  }

#about img {
  border-radius: 10%;
  width: 200px;
  height: 250px;
}

#persinfo {
  background-color: rgba(237, 237, 237, 0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px 55px 25px 5px;
  padding: 10px;
  margin-top: 20px;
}

#education {
  background-color: rgba(237, 237, 237, 0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px 55px 25px 5px;
  padding: 10px;
  margin-top: 30px;
}

#myskills {
  background-color: rgba(237, 237, 237, 0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px 55px 25px 5px;
  padding: 10px;
  margin-top: 30px;
}

#profexp {
  background-color: rgba(237, 237, 237, 0.95);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.45), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px 55px 25px 5px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#soclinks ul {
  list-style-type: none;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  padding: 5px;
}

#soclinks ul li a {
  transition-duration: 0.5s;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 8px 0 rgba(0, 0, 0, 0.2);
}

#soclinks ul li a:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.65), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
}

#soclinks {
  position: fixed;
  bottom: 15%;
  left: 0px;
  text-decoration: none;
}

#socface {
  display: block;
  width: 43px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #3B5998;
  border-radius: 10px;
  color: white;
}

#soclinkedin {
  display: block;
  width: 43px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #007BB6;
  border-radius: 10px;
  color: white;
}

#socvk {
  display: block;
  width: 43px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #587EA3;
  border-radius: 10px;
  color: white;
}

#socgit {
  display: block;
  width: 43px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #444444;
  border-radius: 10px;
  color: white;
}